@charset "UTF-8";
@font-face {
    font-family: hobo;
    src: url("font/hobostd.woff");
}
@font-face {
    font-family: comic;
    src: url("font/comic.ttf");
}
@font-face {   
    font-family: comicbd;
    src: url("font/comicbd.ttf");
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    max-height: 100vh;
    min-height: 100vh;
    max-width: 100%;
    background-image: url("img/fundo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
main {
    width: 100%;
    height: calc(100vh - 55px);
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Login + Base */
section.formulario {
    right: 0;
    margin: 0 8vw;
    width: 40vw;
    height: 40vw;
    max-height: calc(90vh - 55px);
    background-image: url("img/index.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
section.formulario hr {
    background-color: #31BCD5;
    box-shadow: 1px 1px 1px;
    height: 4px;
    border: none;
    margin-bottom: 3%;
    width: 100%;
}
/* Nova Conta */
body section.nova-conta {
    background-image: url("img/nova_conta.png");
    max-height: calc(95vh - 55px);
}
section.nova-conta h2 {
    font-size: calc(8px + 2.2vw);
}
body section.nova-conta form {
    top: 20%;
}
div#erro-senha {
    position: absolute;
    pointer-events: none;
    opacity: 0;
    top: -2vw;
    right: 18vw;
    height: 11.8vw;
    width: 33.5vw;
    min-width: 360px;
    min-height: 110px;
    font-family: comic;
    color: #FFFFFF;
    background-image: url("img/input-erro-senha.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 0.3vw 3.5vw 0.2vw 1.5vw;
    transition: opacity 0.3s ease-in-out;
}
div#erro-senha h3 {
    font-size: calc(11px + 1vw);
    margin: 5px 0;
}
div#erro-senha ul {
    list-style: none;
    font-size: calc(5px + 1vw);
    font-weight: bolder;
    letter-spacing: 0.02vw;
    text-shadow: 1.35px 0 0 rgb(0, 0, 0), -1.35px 0 0 rgb(0, 0, 0), 0 1.35px 0 rgb(0, 0, 0),  0 -1.35px 0 rgb(0, 0, 0),  0 0 1.35px rgb(0, 0, 0);
}
div#erro-senha li img {
    position: relative;
    top: 0.3vw;
    margin-right: 5px;
    width: 1.8vw;
}
/* Padrões */
a {
    color: #00FFFF;
    text-underline-position: under;
}
h2 {
    font-family: comicbd;
    text-align: center;
    font-size: calc(23px + 1vw);
    font-weight: lighter;
    color: #72D1E2;
    text-shadow: 1.5px 0 0 rgb(0, 0, 0), -1.5px 0 0 rgb(0, 0, 0), 0 1.5px 0 rgb(0, 0, 0),  0 -1.5px 0 rgb(0, 0, 0),  0 0 1.5px rgb(0, 0, 0);
}
h3 {
    color: #FFFFFF;
    text-shadow: 1.5px 0 0 rgb(0, 0, 0), -1.5px 0 0 rgb(0, 0, 0), 0 1.5px 0 rgb(0, 0, 0),  0 -1.5px 0 rgb(0, 0, 0),  0 0 1.5px rgb(0, 0, 0);
    font-family: comic;
    font-size: calc(11px + 1vw);
}
h4 {
    font-family: comic;
    font-weight: normal;
    color: #00FFFF;
    font-size: calc(7px + 1vw);
    text-shadow: 1.1px 0 0 rgb(0, 0, 0), -1.1px 0 0 rgb(0, 0, 0), 0 1.1px 0 rgb(0, 0, 0),  0 -1.1px 0 rgb(0, 0, 0),  0 0 1.1px rgb(0, 0, 0);
}
section.formulario form {
    position: relative;
    top: 22%;
    left: 9.2vw;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
section.formulario form input {
    font-size: calc(5px + 1.4vw);
    width: 80%;
    height: 3vw;
    margin: 2% 10%;
    padding: 0 2%;
    border: 2px solid #2296AA;
    box-shadow: 2px 1.5px 1.5px; 
    background-color: #E6F7FA;
}
section.formulario form input::placeholder {
    text-align: center;
    font-family: comic;
    color: #BBBBBB;
}
section.formulario form input:focus {
    outline: none;
}
section.formulario form button {
    margin: 1% 5% 0.5% 5%;
    width: 90%;
    border: 3px solid #00BB00;
    border-radius: 5px;
    box-shadow: 2px 1.5px 1.5px; 
    background-color: #00BB00;
}
section.formulario form button:hover {
    cursor: pointer;
    background-color: #00E100;
    border: 3px solid #00E100;
}
.botao-input {
    animation-name: botao-input;
    animation-duration: 0.28s;
    animation-fill-mode: none;
}
section.logo img {
    left: 0;
    height: 27vw;
    max-height: calc(80vh - 55px);
    width: 27vw;
    margin: 0 8vw;
}
footer {
    position: fixed;
    display: grid;
    align-items: center;
    border-top: 5px solid #007FFF;
    bottom: 0;
    width: 100vw;
    height: 55px;
    min-height: 5vh;
    background-image: url("img/footer.jpg");
    background-repeat: repeat-x;
    background-size: contain;
}
footer h3 {
    font-size: calc(13px + 1vw);
    font-family: hobo;
    font-weight: normal;
    color: #84C1FF;
    text-shadow: 1.5px 0 0 rgb(0, 0, 0), -1.5px 0 0 rgb(0, 0, 0), 0 1.5px 0 rgb(0, 0, 0),  0 -1.5px 0 rgb(0, 0, 0),  0 0 1.5px rgb(0, 0, 0);
    letter-spacing: 1px;
    text-align: center;
}
@keyframes botao-input {
    0% {transform:scale(1);}
    50% {transform:scale(0.92);}
    100% {transform:scale(1);}
}